In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
yearly_file = "./Resources/Prices by Year.csv"
yearly_df = pd.read_csv(yearly_file)
yearly_df.head()

,service_category,year,age_band,sex,spending_per_person,out_of_pocket_spending_per_person,utilization_per_1000_people,price,out_of_pocket_price,share_of_annual_enrollment
0,PH,2015,1,F,1102.14,218.83,12264.20,89.87,17.84,0.1184
1,PH,2016,1,F,1139.87,230.63,12366.18,92.18,18.65,0.1184
2,PH,2017,1,F,1180.43,243.11,12530.87,94.20,19.40,0.1186
3,PH,2018,1,F,1196.93,259.81,12664.82,94.51,20.51,0.1193
4,PH,2019,1,F,1237.09,266.36,12664.00,97.69,21.03,0.1192

In [4]:
new_yearly_df = yearly_df[["year", "service_category", "sex", "spending_per_person", "out_of_pocket_spending_per_person", "price", "out_of_pocket_price"]].copy()
new_yearly_df.head()

,year,service_category,sex,spending_per_person,out_of_pocket_spending_per_person,price,out_of_pocket_price
0,2015,PH,F,1102.14,218.83,89.87,17.84
1,2016,PH,F,1139.87,230.63,92.18,18.65
2,2017,PH,F,1180.43,243.11,94.20,19.40
3,2018,PH,F,1196.93,259.81,94.51,20.51
4,2019,PH,F,1237.09,266.36,97.69,21.03

In [5]:
one_year_file = "./Resources/Single Year Data.csv"
one_year_df = pd.read_csv(one_year_file)
one_year_df.head()
new_one_yr_df = one_year_df.reset_index()
new_one_yr_df.head()

updated_df = new_one_yr_df.rename(columns={'level_0': 'age', 'level_1': 'sex', 'level_2' : 'bmi', 'level_3' : 'children', 'level_4' : 'smoker', 'level_5' : 'region'})
updated_df.head()

one_year_df = updated_df.drop(index=0)
one_year_df.head()

  age     sex     bmi children smoker     region    insurance
1  19  female    27.9        0    yes  southwest    16884.924
2  18    male   33.77        1     no  southeast    1725.5523
3  28    male      33        3     no  southeast     4449.462
4  33    male  22.705        0     no  northwest  21984.47061
5  32    male   28.88        0     no  northwest    3866.8552

In [33]:
connection_string = "postgres:postgres@localhost:5432/Insurance_db"
engine = create_engine(f'postgresql://{connection_string}')

In [34]:
engine.table_names()

/var/folders/w4/cz88rjkj0lg25jggxn27s8l40000gn/T/ipykernel_60590/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['yearly_rates', 'one_year']

In [35]:
new_yearly_df.to_sql(name='yearly_rates', con=engine, if_exists='append', index=False)

In [36]:
one_year_df.to_sql(name='one_year', con=engine, if_exists='append', index=False)

DataError: (psycopg2.errors.InvalidTextRepresentation) invalid input syntax for type integer: "16884.924"
LINE 1: ...('19', 'female', '27.9', '0', 'yes', 'southwest', '16884.924...
                                                             ^

[SQL: INSERT INTO one_year (age, sex, bmi, children, smoker, region, insurance) VALUES (%(age)s, %(sex)s, %(bmi)s, %(children)s, %(smoker)s, %(region)s, %(insurance)s)]
[parameters: ({'age': '19', 'sex': 'female', 'bmi': '27.9', 'children': '0', 'smoker': 'yes', 'region': 'southwest', 'insurance': '16884.924'}, {'age': '18', 'sex': 'male', 'bmi': '33.77', 'children': '1', 'smoker': 'no', 'region': 'southeast', 'insurance': '1725.5523'}, {'age': '28', 'sex': 'male', 'bmi': '33', 'children': '3', 'smoker': 'no', 'region': 'southeast', 'insurance': '4449.462'}, {'age': '33', 'sex': 'male', 'bmi': '22.705', 'children': '0', 'smoker': 'no', 'region': 'northwest', 'insurance': '21984.47061'}, {'age': '32', 'sex': 'male', 'bmi': '28.88', 'children': '0', 'smoker': 'no', 'region': 'northwest', 'insurance': '3866.8552'}, {'age': '31', 'sex': 'female', 'bmi': '25.74', 'children': '0', 'smoker': 'no', 'region': 'southeast', 'insurance': '3756.6216'}, {'age': '46', 'sex': 'female', 'bmi': '33.44', 'children': '1', 'smoker': 'no', 'region': 'southeast', 'insurance': '8240.5896'}, {'age': '37', 'sex': 'female', 'bmi': '27.74', 'children': '3', 'smoker': 'no', 'region': 'northwest', 'insurance': '7281.5056'}  ... displaying 10 of 1338 total bound parameter sets ...  {'age': '21', 'sex': 'female', 'bmi': '25.8', 'children': '0', 'smoker': 'no', 'region': 'southwest', 'insurance': '2007.945'}, {'age': '61', 'sex': 'female', 'bmi': '29.07', 'children': '0', 'smoker': 'yes', 'region': 'northwest', 'insurance': '29141.3603'})]
(Background on this error at: https://sqlalche.me/e/14/9h9h)