In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
yearly_file = "./Resources/Prices by Year.csv"
yearly_df = pd.read_csv(yearly_file)
yearly_df.head()

,service_category,year,age_band,sex,spending_per_person,out_of_pocket_spending_per_person,utilization_per_1000_people,price,out_of_pocket_price,share_of_annual_enrollment
0,PH,2015,1,F,1102.14,218.83,12264.20,89.87,17.84,0.1184
1,PH,2016,1,F,1139.87,230.63,12366.18,92.18,18.65,0.1184
2,PH,2017,1,F,1180.43,243.11,12530.87,94.20,19.40,0.1186
3,PH,2018,1,F,1196.93,259.81,12664.82,94.51,20.51,0.1193
4,PH,2019,1,F,1237.09,266.36,12664.00,97.69,21.03,0.1192

In [8]:
new_yearly_df = yearly_df[["year", "service_category", "sex", "spending_per_person", "out_of_pocket_spending_per_person", "price", "out_of_pocket_price"]].copy()
new_yearly_df.head()

,year,service_category,sex,spending_per_person,out_of_pocket_spending_per_person,price,out_of_pocket_price
0,2015,PH,F,1102.14,218.83,89.87,17.84
1,2016,PH,F,1139.87,230.63,92.18,18.65
2,2017,PH,F,1180.43,243.11,94.20,19.40
3,2018,PH,F,1196.93,259.81,94.51,20.51
4,2019,PH,F,1237.09,266.36,97.69,21.03

In [5]:
one_year_file = "./Resources/Single Year Data.csv"
one_year_df = pd.read_csv(one_year_file)
one_year_df.head()

                                               insurance
age sex    bmi    children smoker region         charges
19  female 27.9   0        yes    southwest    16884.924
18  male   33.77  1        no     southeast    1725.5523
28  male   33     3        no     southeast     4449.462
33  male   22.705 0        no     northwest  21984.47061